<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60545849443-7n2e586oisie5jn0rg66jjqto6iah3td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60545849443-7n2e586oisie5jn0rg66jjqto6iah3td</string>
	<key>API_KEY</key>
	<string>AIzaSyDvuGFeKRscFzkLXB_koqTxf-4DxaDVhNg</string>
	<key>GCM_SENDER_ID</key>
	<string>60545849443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentest129</string>
	<key>PROJECT_ID</key>
	<string>fir-test-129</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-129.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60545849443:ios:f766da8790bb3a9e594056</string>
</dict>
</plist>